.formStart, .formEnd, .resultStart, .resultEnd {
  display: flex;
}

.labelWrapper, .timeWrapper {
  /*flex-grow: 1;*/
  /*width: 100%;*/
  max-width: 145px;
  margin: 0 auto;
}

.componentWrapper {
  max-width: 235px;
  width: 100%;
  margin: 0 auto;
}

.dateTimePicker {
  /*flex-grow: 1;*/
}

.labelInput {
  /*flex-grow: 1;*/
}
