#heading{
  margin-top: 2rem;
  display: block;
  margin-bottom: 0.5rem;
  font-weight: bold;
  font-size: 2rem;
}

.custom-button {
  margin-top: 20px;
}

.formInput {
  margin-top: 5px;
  margin-bottom: 5px;
  display:inline-block;
  *display: inline;     /* for IE7*/
  zoom:1;              /* for IE7*/
  vertical-align:middle;
  /*margin-left:20px;*/
  width: 100%;
}

.showPassword {
  margin-left: -65px;
  height: 34px;
  top: 6.5px;
  position: relative;
  padding: 0 10px 0px 10px;
}

.inputWrapper {
  display: flex;
  max-width: 30rem;
  margin: 0 auto;
}

fieldset {
  padding: 0 25px 0 25px;
}

.label {
  display: inline-block;
  zoom: 1;
  float: left;
  padding-top: 5px;
  text-align: right;
  width: 140px;
}
